.canva {
    font-size: 0px;
    padding-top: 20px;
    text-align: center;
}
.canva-debug {
    font-size: 12px;
}
.canvas-container span:first-child {
    margin-top: 0px;
    border-top: solid 1px lightgrey;
}
.canvas-container span {
    display: block;
    width: fit-content;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    width: 100%;
    position: relative;
}
.canvas-container span:last-child {
    border-bottom: solid 1px lightgrey;
}
.canvas-container div {
    position: relative;
    display: inline-block;
    height: 100%;
}
#container, #canva {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#container {
    z-index: 50;
}
#debug {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 1px lightgrey;
}
.debug {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 33%;
    height: 33%;
    background: lightgreen;
    border: solid 1px lightgrey;
}
.isTopLeft {
    left: 16%;
    top: 16%;
}
.isLeft {
    top: 50%;
    left: 16%;
}
.isTopRight {
    top: 16%;
    left: 84%;
}
.isTop {
    left: 50%;
    top: 16%;
}
.isRight {
    top: 50%;
    left: 84%;
}
.isBottom {
    top: 84%;
    left: 50%;
}
.isBottomLeft {
    left: 16%;
    top: 84%;
}
.isBottomRight {
    left: 84%;
    top: 84%;
}
.admin {
    position: fixed;
    top: 15%;
    width: 200px;
    height: auto;
    min-height: 200px;
    border: solid 1px grey;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
}
.admin:hover {
    transition: all 0.3s ease;
}
.admin p {
    margin-bottom: 0px;
}
.admin input {
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
}
#admin {
    right: -195px;
}
#admin:hover {
    right: -5px;
}
#admin-left {
    left: -195px;
}
#admin-left:hover {
    left: -5px;
}
.hidder {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}
.tda-modal {
    background: white;
    position: absolute;
    top: 20%;
    border-radius: 5px;
    border: solid 1px grey;
    min-height: 300px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
}
.tda-modal a {
    display: block;
    text-align: center;
    font-size: 20px;
}
.tda-modal a:hover {
    cursor: pointer;
}
.tda-modal div {
    position: relative;
}
.tda-modal-title {
    position: relative;
    padding-left: 15px;
    height: 75px;
    line-height: 75px;
}
.tda-modal-title h3 {
    border-bottom: solid 1px lightgrey;
}
.tda-modal-close {
    position: absolute;
    right: 0px;
    line-height: 47px;
    top: -20px;
    width: 47px;
    height: 47px;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 0.8;
}
.tda-modal-close:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
}
.map-details {
    text-align: center;
    margin-top: -24px;
    font-size: 11px;
}